@{
    ViewData["Title"] = "My Work";
}

<h2>My Work</h2>

<p>Welcome to KhumaloCraft Emporium's My Work page! Explore our handcrafted products and find something special for yourself or your loved ones.</p>

<style>

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
    }

    .product {
        text-align: center;
        margin-bottom: 20px;
    }

        .product img {
            width: 130px;
            height: auto;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .product p {
            margin-top: 8px;
            font-size: 10px;
            color: #666;
        }
</style>

<h2>Just a few of our amazing products</h2>

<div class="image-container">
    <div class="product">
        <img src="~/handmademug.webp" alt="Product 1" />
        <p>Product Name: Handmade Mug</p>
        <p>Price: R200.00</p>
    </div>
    <div class="product">
        <img src="~/hwb.jpg" alt="Product 2" />
        <p>Product Name: Handwoven Basket</p>
        <p>Price: R100.00 each</p>
    </div>


</div>
    <div class="product">
        <img src="~/necklace.jpg" alt="Product 3" />
        <p>Product Name: Handmade Necklaces</p>
        <p>Price: R50.00</p>
</div>